# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/caches/
.idea/codeStyles/
.idea/gradle.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
1_0.patch
P-RxPermission.iml

app/app.iml


